body {
    font-family: Arial, sans-serif;
    background-color: #fdf6fd;
    color: #335;
    margin: 20px;
}

header {
    background-color: #f8c8f8;
    padding: 15px;
    text-align: center;
}

h1 {
    color: #8b1;   
}

h2  {
    color: #3930b0;
    text-align: center;
    border-bottom:2px solid #3930b0 ;
    display: inline-block;
    padding-bottom: 5px;
    margin: 20px auto;


}

h3 {
    color: #aa1a1a;
}

p {
    font-size: 16px;
    color: #55044a;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
}



table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,td {
    border: 1px solid #f2b5c4;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #b03060;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #fff0f5;
}


form {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    max-width: 100%;

}

video {
    display: block;
    margin: 30px auto;
    max-width: 80%;
    border-radius: 20px;
    border: 3px solid #b03060;
    background-color: #f0ebee;

}
